#main {
    width: 1300px;
    margin: 0 auto;
}

nav {
    padding: 2rem 2.9rem;
}

.portfolio {
    padding: 20px 100px;
    border: 2px solid re;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-heading {
    margin: 160px 0px 0;
    width: 100%;
    background-color: re;
    max-width: 100%;
    padding-bottom: 20px;
}

.portfolio-heading h1 {
    font-family: 'Gordita', sans-serif;
    font-size: 48px;
    color: #252424;
    font-weight: 400;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    gap: 1rem;
    flex-grow: 1;
    border: 2px solid re;
    flex-direction: row;
    justify-content: center;

}

.gallery-box {
    width:
        350px;


    overflow: hidden;
    position: relative;

}

.gallery-box img {
    max-width: 100%;
    aspect-ratio: 4/4;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    background-color: #DADADA;
    width: 100%;
    height: 100%;
    opacity: .5;
    opacity: 0;
    transition: opacity .5s ease;
}






@media only screen and (max-width:992px) {
    .portfolio {
        padding: 0 0px;
    }
}

@media only screen and (max-width:762px) {
    .portfolio-heading h1 {
        font-size: 27px;
    }

    ul {
        height: 100vh !important;
        flex-direction: column !important;
        text-align: initial;
    }

    .portfolio {
        margin: 2rem 2rem;
    }

}


.gallery-box img {
    max-width: 100%;
    aspect-ratio: 4/4;
    height: 100%;
    object-fit: cover;
}


.overlay-text {
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay-text p {
    z-index: 9999;
    color: black;
    font-size: 50px;
    background-color: yello;
    ;
    margin-block-start: 0 !important;
    ;
    margin-block-end: 0 ! important;
}

.gallery-box video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
    outline: none;
}


.gallery-box:hover .overlay {
    opacity: 0.7 !important;
    z-index: 11;
}